* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: rgb(34, 34, 34);
   user-select: none;
   font-family: 'Poppins', sans-serif;
}

.wrapper {
   padding: 40px;
   width: 100vw;
   height: 100vh;
}

.nav-wrapper {
   width: 100%;
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.btn {
   width: 140px;
   padding: 15px;
   text-align: center;
   background-color: rgb(180, 48, 8);
   border-radius: 5px;
   font-size: 20px;
   line-height: 20px;
   letter-spacing: 1px;
   color: #ffff;
   cursor: pointer;
}

.timer {
   width: 130px;
   display: flex;
   justify-content: space-between;
   font-size: 32px;
   line-height: 32px;
   color: #ffff;
}

.sec,
.mlsec {
   width: 60px;
   text-align: center;
}

.image-to-show {
   width: 1100px;
   height: 700px;
   border-radius: 7px;
}

.images-wrapper {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   margin-top: 50px;
}

.hidden {
   display: none;
}

.btn-start {
   background-color: rgb(8, 180, 60);
}
