body {
    height: 100%;
    width: 100%;
    background-color: rgb(32, 33, 36);
    padding: 40px;
    font-family: 'Courier New', Courier, sans-serif;
    font-size: 24px;
    line-height: 24px;
    color: #ffff;
}
