body {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #ffffff;
}
.wrapper {
    height: 100%;
    width: 100%;
    background: radial-gradient(circle, rgba(158, 152, 164, 1) 0%, rgba(107, 123, 133, 1) 27%, rgba(69, 82, 108, 1) 77%, rgba(60, 72, 102, 1) 98%);
    position: relative;
}

.modal {
    height: 540px;
    width: 760px;
    padding: 35px 25px 22px 25px;
    background: linear-gradient(224.47deg, #77829a 0%, #4f5c7a 99.09%);
    border-radius: 20px;
    box-shadow: 1px 1px 7px 1px rgb(31, 30, 30);
    position: absolute;
    top: 170px;
    left: calc(50% - 390px);
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.modal_header {
    flex: 0 0 auto;
}

.header_info {
    font-weight: 700;
    color: #c1c6d1;
    text-transform: uppercase;
}

.header_title {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    margin: 5px -1px 8px;
}

.title_dot {
    font-size: 40px;
    line-height: 27px;
    color: #febe3b;
}

.header_sub-title {
    color: #c1c6d1;
}

.log_in {
    color: #febe3b;
}

.modal_main {
    align-items: center;
    flex: 1 1 auto;
    display: flex;
    gap: 112px;
}

.main__user-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1 1 auto;
}

.form_field {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form_label {
    color: #c1c6d1;
    margin-left: 21px;
}

.input {
    padding: 17px 21px;
    border-radius: 8px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.0729236), rgba(255, 255, 255, 0.0729236)), linear-gradient(90deg, rgba(36, 37, 71, 4.47059e-5) 2.17%, rgba(36, 37, 71, 0.0001) 98.96%);
    font-family: inherit;
    font-size: inherit;
    color: #ffffff;
    transition: all 0.25s ease;
    border: 1px solid transparent;
}

.input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-color: transparent;
    padding-left: 22px;
}

.input::placeholder {
    color: #b9b5b5;
}

.main__user-login {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 0 0 335px;
}

.login {
    padding: 16px 21px;
    border-radius: 8px;
    background-color: #e4e4e4;
    font-size: 17px;
    line-height: 17px;
    font-weight: 700;
    color: #e4a425;
    letter-spacing: 1px;
    height: 48px;
}

.modal__create_account {
    flex: 0 0 auto;
    text-align: center;
}

.button {
    font-family: inherit;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: #ffffff;
    border: 1px solid #4368b8;
    padding: 17px 132px;
    background: linear-gradient(130.97deg, #266ed7 6.68%, #4d8aeb 99.25%);
    border-radius: 8px;
    cursor: pointer;
    transition: border 0.25s ease;
}

.button:hover,
.link:hover {
    border: 1px solid #e4e4e4;
}

.create_account-info {
    margin-top: 17px;
    color: #c1c6d1;
}

.hint {
    color: red;
    font-size: 10px;
    margin-left: 21px;
    position: absolute;
    bottom: -17px;
}