.toggle {
   width: 30px;
   height: 30px;
   right: 30px;
   top: 25px;
   position: absolute;
   cursor: pointer;
}

.moon {
   background-color: transparent;
   box-shadow: -6px 1px 0 3px #1f3c55;
   border-left: 3px solid #151b24;
   border-radius: 50%;
   width: 25px;
   height: 25px;
   margin-left: 8px;

   transition: 0.6s;
}

.sun {
   background-color: #fdd462;
   box-shadow: 2px 0px 0px 1px #d19c29;
   border-radius: 50%;
   width: 26px;
   height: 26px;
   transition: 0.6s;
}
