body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: rgb(58, 57, 57);
}
.form_container {
    height: 400px;
    width: 400px;
    background-color: rgb(229, 226, 226);
    margin: 220px auto;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 3px 4px 35px 3px rgba(0, 0, 0, 0.75);
}

.form_title {
    font-size: 28px;
    margin-bottom: 30px;
    border-bottom: 2px solid rgb(126, 123, 123);
}

.password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-wrapper {
    position: relative;
    width: 250px;
    margin-top: 15px;
}

.input-wrapper input {
    min-width: 245px;
    padding: 10px;

    border-radius: 3px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.input-wrapper i {
    position: absolute;
    right: 20px;
    top: 32px;
    color: grey;
    cursor: pointer;
}

.valid_password,
.conf_password {
    font-size: 12px;
    margin-left: 5px;
    color: rgb(229, 226, 226);
}

.alert {
    color: brown;
}

.btn {
    width: 150px;
    padding: 9px;
    margin-top: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}
